footer.section.footer(data-sec="#contact")
    div.container
        div.d-flex.justify-content-center.align-items-center.social-box
            a(href="#" target="_blank" include="media/assets/icon-facebook.svg").anim300ms
            a(href="#" target="_blank" include="media/assets/icon-instagram.svg").anim300ms
            a(href="#" target="_blank" include="media/assets/icon-pinterest.svg").anim300ms
            a(href="#" target="_blank" include="media/assets/icon-behance.svg").anim300ms
        br
        br
        p.text-center: a(href="mailto:info@otte.com") info@otte.com
        
        p.text-center Varsovia 36,<br> Juárez, 06600 CDMX
        
        div.d-block.logo(include="media/assets/logo.svg")