section.section#sec1(suit apply-bg="media/images/portada.jpg" data-sec="#home")
    div.container.text-center.fw-700.fz28.text-uppercase Diseño de mobiliario e identidad gráfica
    div.logo: img(src="media/assets/logo.svg")