section.section#sec2(data-sec="#aboutus")
    div.row
        div.col-8
            div.d-block.w-5.mx-auto.text-center
                br
                br

                h3.h3.text-uppercase Nosotros
                br
                br

                p Nuestro trabajo engloba diseño de mobiliario e identidad gráfica.
                p Nos enfocamos en el diseño de espacios con necesidades específicas.
                p Nuestro objetivo principal es promover la separación de residuos, por esto creamos diseño con propósito.
                br

            div.d-block.w-11.mx-auto.orbs
                div: span Diseño industrial
                div.fill: span Reciclaje
                div: span Diseño grafico


        div.col-4(apply-bg="media/images/Otte1.jpg")