section.section#sec4
    div.row
        div.col-6(apply-bg="media/images/Otte2.jpg")
        
        div.col-6.colInfo
            div.d-block.w-11.mx-auto
                div.d-block.w-8.legendText
                    div.d-block.w-3: img(src="media/assets/comillas.svg")
                    p.h3.fw-600 You can't change the past, but you can change the future, so always remember to recycle.
                        span: img(src="media/assets/comillas.svg")
                
                br
                br
                div.d-block.w-10.mx-auto.text-right.text-uppercase - Team Otte.