section.section#sec5(data-sec="#customers")
    div.container
        h1.text-center.text-uppercase Clientes
        br
        
        div.d-flex.justify-content-around.align-items-center.customers
            div.w-4(include="media/assets/logo-wework.svg")
                
            div.w-4(include="media/assets/logo-posadas.svg")
                
            div.w-4(include="media/assets/logo-bucareli.svg")